__pycache__/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# vscode
.vscode

# Mac
.DS_Store

notebooks/
output/
pyproject.toml
uv.lock
.env

# Ignore dataset directories
data/hotpotqa/
data/2wikimultihopqa/
data/musique/
data/bamboogle/
data/photpotqa/
data/p2wikimultihopqa/
data/pmusique/

Qwen2.5-7B-Instruct/
e5-base-v2/
wiki_dpr_100w/
wiki18_100w.jsonl
recall_image.tar
recall_v1.tar
flashinfer_python-0.2.5+cu124torch2.6-cp38-abi3-linux_x86_64.whl
checkpoints/
scripts/serving/output/


ray_temp/
outputs/
debug_fsq
debug_ywx/
data/
*.pkl
*.log
wandb
checkpoints*
batch*