__pycache__/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# vscode
.vscode

# Mac
.DS_Store

notebooks/
output/
pyproject.toml
uv.lock
.env

# Ignore dataset directories
data/hotpotqa/
data/2wikimultihopqa/
data/musique/
data/bamboogle/
data/photpotqa/
data/p2wikimultihopqa/
data/pmusique/

Qwen2.5-7B-Instruct/
e5-large-v2/
index/
wiki18_100w.jsonl